@import './reset.css';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #5f4b8b;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}